
<h1 class="h1-class">currency converter app by dheker laadhibi</h1>
<div class="main-container">
  <div class="selection-container">
   <select #c1 name="" id="country1" (mouseleave)="changebase(c1.value)">
    <option value="USD">us Dollar</option>
    <option value="INR">Indian Rupee</option>
    <option value="EUR">Euro</option>
    <option value="TND">DINAR TUNISIEN</option>
  </select>
  <select #c2 name="" id="country1" (mouseleave)="tocountry(c2.value)">
  <option value="USD">us Dollar</option>
  <option value="INR">Indian Rupee</option>
  <option value="EUR">Euro</option>
  <option value="TND">DINAR TUNISIEN</option>
</select>

  </div>
  <button (click)="convert()">submit</button>
  <div class="result-container">

    
    <p> 1{{base}} = {{result}} {{cont2}}</p>

  </div>



</div>